<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NugetCacheReplicatorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NugetCacheReplicatorService.Properties.Settings>
            <setting name="TargetNugetRepositoryDirectory" serializeAs="String">
                <value>c:\NugetLocal</value>
            </setting>
            <setting name="NugetCacheDirectory" serializeAs="String">
                <value>C:\Users\deonheyns\AppData\Local\NuGet\Cache</value>
            </setting>
        </NugetCacheReplicatorService.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
